html,
body {
  height: 100%;
  margin: 0;
}

.notes {
  display: flex;
  height: 100%;
}

.notes * {
  font-family: sans-serif;
}

.notesSidebar {
  border-right: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 1em;
  width: 300px;
}

.notesAdd {
  background: #b86a2e;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 100%;
}

.notesAdd:hover {
  background: #9c5c2c;
}

.notesList-item {
  cursor: pointer;
}

.notesList-item--selected {
  background: #eeeeee;
  border-radius: 7px;
  font-weight: bold;
}

.notesSmall-title,
.notesSmall-updated {
  padding: 10px;
}

.notesSmall-title {
  font-size: 1.2em;
}

.notesSmall-body {
  padding: 0 10px;
}

.notesSmall-updated {
  color: #aaaaaa;
  font-style: italic;
  text-align: right;
}

.notesPreview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
}

.notesTitle,
.notesBody {
  border: none;
  outline: none;
  width: 100%;
}

.notesTitle {
  font-size: 3em;
  font-weight: bold;
}

.notesBody {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
}